<ion-view title="General">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content padding="true">
        <label class="item item-input item-floating-label">
            <span class="input-label">First Name</span>
            <input type="text" ng-model="profileData.firstName" placeholder="First Name">
        </label>

        <label class="item item-input item-floating-label">
            <span class="input-label">Last Name</span>
            <input type="text" ng-model="profileData.lastName" placeholder="Last Name">
        </label>

        <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" ng-model="profileData.email" placeholder="Email">
        </label>
    </ion-content>
</ion-view>
