<ion-view title="General">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" side="left" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button type="submit" class="button" form="profGenForm" ng-disabled="progress">
            <ion-spinner icon="ripple" class="spinner" ng-show="progress"></ion-spinner>Save
        </button>
    </ion-nav-buttons>

    <ion-content padding="true">

        <form name="profGenForm" id="profGenForm" ng-submit="saveProfGen(profGenForm)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : profGenForm.firstName.$invalid && profGenForm.$submitted }">
                <span class="input-label">First Name</span>
                <input type="text" name="firstName" ng-model="profileData.firstName" placeholder="First Name" required>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : profGenForm.lastName.$invalid && profGenForm.$submitted }">
                <span class="input-label">Last Name</span>
                <input type="text" name="lastName" ng-model="profileData.lastName" placeholder="Last Name" required>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : profGenForm.email.$invalid && profGenForm.$submitted }">
                <span class="input-label">Email</span>
                <input type="email" name="email" ng-model="profileData.email" placeholder="Email" required disabled>
            </label>

            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : profGenForm.phone.$invalid && profGenForm.$submitted }">
                <span class="input-label">Phone</span>
                <input type='tel' name="phone" pattern='' ng-model="profileData.phone" placeholder="Phone" required>
            </label>
        </form>

    </ion-content>
</ion-view>
