<ion-view title="Professional">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button type="submit" class="button" form="profProfForm" ng-disabled="progress">
            <ion-spinner icon="ripple" class="spinner" ng-show="progress"></ion-spinner>Save
        </button>
    </ion-nav-buttons>

    <ion-content padding="true">

        <form name="profProfForm" id="profProfForm" ng-submit="saveProfProf(profProfForm)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
            <label class="item item-input item-floating-label">
                <span class="input-label">Experience</span>
                <div class="row">
                    <div class="col"><input type="number" min="0" ng-model="profileData.experience.years" placeholder="Years"></div>
                    <div class="col"><input type="number" min="0" max="12" ng-model="profileData.experience.months" placeholder="Months"></div>
                </div>
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Current Company</span>
                <input type="text" ng-model="profileData.experience.company" placeholder="Company">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Resume</span>
                <input type="file" id="resume" name="resume" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword,.doc,.docx" />
            </label>
        </form>

    </ion-content>
</ion-view>
