

<ion-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-icon" ng-click="toggleProjects()">
            <i class="icon ion-navicon-round"></i>
        </button>
        <h1 class="title">{{pagetitle}}</h1>
        <!-- New Task button-->
        <a class="button button-icon" href="#/event/home" menu-close>
            <i class="icon ion-ios-home"></i>
        </a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="row">
            <div class="col">

                <h2>Welcome to Nagarro</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card square">
                    <a class="button button-full button-positive square larger" href="#/event/home">
                        <i class="ion-ios-person larger"></i>
                        <div class="item-positive">
                            Address Book
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card square">
                    <a class="button button-full button-positive square larger" href="#/event/notification">
                        <i class="ion-paper-airplane larger"></i>
                        <div class="item-positive">
                            What's New?
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card square">
                    <a class="button button-full button-positive square larger" href="#/event/home">
                        <i class="ion-settings larger"></i>
                        <div class="item-positive">
                            Settings
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card square">
                    <a class="button button-full button-positive square larger" href="#/event/home">
                        <i class="ion-log-out larger"></i>
                        <div class="item-positive">
                            Logout
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>