    <ion-side-menus enable-menu-with-back-views="false">

        <ion-pane ion-side-menu-content>
            <ion-nav-bar class="bar-{{theme.header.name}} nav-title-slide-ios7">
                <ion-nav-back-button></ion-nav-back-button>
            </ion-nav-bar>
            <ion-nav-view name="menuContent" class="slide-left-right"></ion-nav-view>
        </ion-pane>

      <ion-side-menu side="left" expose-aside-when="large">
        <ion-header-bar class="bar bar-header bar-{{theme.sidebar.header.name}}">
            <h1 class="title">Nagarro Interviews</h1>
        </ion-header-bar>
        <ion-content has-header="true">
          <ion-list>
            <ion-item href="#/app/about" class="item-icon-left" menu-close>
                <i class="icon icon-left ion-home"></i>About
            </ion-item>
            <ion-item href="#/app/profile/general" class="item-icon-left" menu-close ng-show="isLoggedIn">
                <i class="icon icon-left ion-{{system.platform}}-person"></i>Profile
            </ion-item>
            <ion-item href="#/app/openings" class="item-icon-left" menu-close ng-show="isLoggedIn">
                <i class="icon icon-left ion-{{system.platform}}-list"></i>Current Openings
            </ion-item>
            <ion-item href="#/app/login" class="item-icon-left" menu-close ng-show="!isLoggedIn">
                <i class="icon icon-left ion-log-in"></i>Login
            </ion-item>
            <ion-item href="#/app/signup" class="item-icon-left" menu-close ng-show="!isLoggedIn">
                 <i class="icon icon-left ion-{{system.platform}}-upload"></i>SignUp
            </ion-item>
            <ion-item href="#/app/chpwd" class="item-icon-left" menu-close ng-show="isLoggedIn">
                 <i class="icon icon-left ion-{{system.platform}}-settings"></i>Change Password
            </ion-item>
            <ion-item href="#/app/login" class="item-icon-left" menu-close ng-show="isLoggedIn" ng-click="logOut()">
                <i class="icon ion-log-out"></i>Logout
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>

    </ion-side-menus>
