<ion-view view-title="Openings">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>

    <ion-content padding="theme.showPadding">
        <div class="list">

            <a ui-sref="openings.detail({ openingId: opening.value._id })" ng-repeat="opening in data.openings track by $index" class="item item-icon-right">
                {{opening.value.title}}
                <i class="icon ion-arrow-right-c"></i>
            </a>

        </div>
    </ion-content>
</ion-view>

<!-- View for opening-details -->
<div ui-view></div>