<ion-view title="Home">

  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>


  <ion-tabs class="tabs-icon-top tabs-{{theme.name}}">

    <ion-tab title="General" icon="ion-home" ui-sref="app.profile.general">
      <ion-nav-view name="general-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Professional" icon="ion-gear-a" ui-sref="app.profile.professional">
      <ion-nav-view name="professional-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Skills" icon="ion-log-out" ui-sref="app.profile.skills">
      <ion-nav-view name="skills-tab"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
