

<ion-view>
    <ion-header-bar class="bar-positive">
        <button class="button button-icon" ng-click="toggleProjects()">
            <i class="icon ion-navicon-round"></i>
        </button>
        <h1 class="title">{{pagetitle}}</h1>
        <!-- New Task button-->
        <a class="button button-icon" href="#/event/home" menu-close>
            <i class="icon ion-ios-home"></i>
        </a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                What's New?
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                What's New?
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                What's New?
            </div>
        </div>
    </ion-content>
</ion-view>